# is root .editorconfig
root = true

# unix-compatible
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# Javascript
[*.js]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# HTML
[*.html]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# Jade
[*.jade]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# Sass & Scss
[{*.sass, *.scss}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Liquid
[*.liquid]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# package.json like
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
insert_final_newline = true
