
/* Defaults
blue:#cb0131;
dark-blue:#000b22;
red:#333;
background:;
link-hover:;

new-blue:#cb0131;
new-red:#333333;
new-dark-blue:#a20009;
new-background:#;
new-link-hover:;
-------------------------------*/


/* Globals
-------------------------------*/
header {}
.navbar-toggle {background-color: #cb0131;}
.navbar-nav {background-color: #333;}
.subview .subviewopen>.dl-submenu {background-color: #333;}
footer {background-color: #6e0006;}
.label-default {background-color: #cb0131;}
.label-default__arr path {fill: #cb0131;}
.btn-read {color: #333;}
.btn-read__arr-path {fill: #333;}
.btn-read-more {color: #333;}
.btn-read-more__arr-path {fill: #333;}
.btn-read-primary {background-color: #cb0131;}
.btn-read-primary__inverse {background-color: #000;}
.btn-read-primary__inverse:hover {background-color: #cb0131;}
.btn-support {border-color:#333;color: #333;}
.btn-support:active, .btn-support:focus, .btn-support:hover, .open>.btn-support.dropdown-toggle {background-color: #333;border-color: #333;}
.prop-icons__item-vl {color: #333;}
.fw-colorBg__second {background-color: #333;}
.content__text a {color: #cb0131;}

@media screen and (min-width: 1200px) {

	.navbar-nav {background-color: transparent;}
	nav>.nav.navbar-nav>li>a:hover {border-bottom-color: #cb0131;}
	nav>.nav.navbar-nav>li.dropdown:hover>a {border-bottom-color:#cb0131;}
	.btn-read:hover {color: #333;}
	.btn-read-more:hover {color: #333;}

}

/* About
-------------------------------*/

/* Buttons
-------------------------------*/

/* Contacts
-------------------------------*/
.fw-colorBg {background-color: #cb0131;}

/* Events
-------------------------------*/

@media screen and (min-width: 1200px) {

	.event-bl:hover .event-bl__inner h3 a {color: #cb0131;}
	.top-navig__item:hover .top-navig__item-inner span {color: #cb0131;}

}

/* Events-view
-------------------------------*/
.mapper__desrc-pl {color: #333;}
.event-organizers__item-lst li a {color: #cb0131;}
.event-organizers__subscribe-wrap .project-news__subscribe {background-color: #cb0131;}

/* Main
-------------------------------*/
.slider__title span {background-color: rgba(51,51,51,.8);}
.slider__container .label-time .label-default__arr-left path {fill: #e9e8dc;}
.slider__container .btn-read-primary__inverse {background-color: #000;}

.news-item-big__title-color {color: #cb0131;}
.news-item-big .news-item-big__header h3 {color: #cb0131;}
.blue-chart {color: #cb0131;}
.sm-diagramm .diagramm-number {color: #cb0131;}
.red-chart {color: #333;}
.big-diagramm .diagramm-number {color: #333;}
.work-item .label-time .label-default__arr-left path {fill: #e9e8dc;}
.tw-item p a {color: #cb0131;}
.tablist__all-arr path {fill: #cb0131;}
.event-bl .btn-read-primary {background-color: #000;}
ul.nav.nav-tabs>li.tablist__all>a {background-color: #cb0131;}
.soc-arr__arr {background-color: #cb0131;}
.soc-arr__arr-flag path {background-color: #cb0131;}
.soc-arr__arr .soc-arr__arr-flag path {fill: #cb0131;}
.soc-arr__arr .soc-arr__arr-tail path {fill: #cb0131;}

@media screen and (min-width: 1200px) {

	.slider__container .btn-read-primary__inverse:hover {background-color:#cb0131;}
	.tw-item p a:hover {color: #cb0131;}
	.event-bl:hover .btn-read-primary {background-color: #cb0131;}
	ul.nav.nav-tabs>li>a:hover>.tablist__descr, ul.nav.nav-tabs>li>a:hover>.tablist__title {color: #cb0131;}

}


/* News
-------------------------------*/

@media screen and (min-width: 1200px) {

	.news-item h3 a:hover {color: #cb0131;}

}

/* News-view
-------------------------------*/
.quote p {color: #333;}
.publisher-anchor-color a, a.publisher-anchor-color {color: #333 !important;}
#disqus_thread a {color: #333 !important;}

@media screen and (min-width: 1200px) {

	.aside__news .news-item .news-item__title:focus, .aside__news .news-item .news-item__title:hover {color: #cb0131;}

}

/* Projects
-------------------------------*/
.red-chart-diagramm .sm-diagramm .diagramm-number {color: #333;}
.project-item-ln-wrap {border-color: #333;}

@media screen and (min-width: 1200px) {

	.project-item-ln h2 a:hover {color: #cb0131;}
	.project-item h2 a:hover {color: #cb0131;}

}

/* Projects-view
-------------------------------*/
.project-news__subscribe {background-color: #333;}
.events__docs-item-ttl {color: #cb0131;}
.bar-chart {color: #cb0131;}
.project-stuff__quote-link {color: #cb0131;}

@media screen and (min-width: 1200px) {

	.project-stuff__quote-link:hover {color: #cb0131;}
	.events__docs-item-right a:hover {color: #cb0131;}

}


/* Stuff
-------------------------------*/

@media screen and (min-width: 1200px) {

	.stuff__item-act:hover .stuff__item-ttl {color: #cb0131;}
	.project-stuff__quote-link:hover {color: #cb0131;}

}