/*
 * Custom controls / #custom-controls
****************************/

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
}

textarea {
  resize: none;
}

.btn-read-primary {
  position: relative;
  background-color: #002266;
  padding: 15px 40px;
  outline: none;
  border: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  span {
    display: block;
    float: left;
    font-family: "roboto_condensedregular", Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-right: 4px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.btn-read-primary__arr {
  display: block;
  float: left;
  width: 10px;
  height: 17px;
  margin-top: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-read-primary__arr-path {
  fill: #fff;
}

.btn-read-primary {
  &.disabled {
    background-color: #bdbbac;
  }

  &:hover {
    background-color: #000;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    &:active:after {
      visibility: visible;
      background-color: #001945;
    }

    span {
      float: right;
      margin-right: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    .btn-read-primary__arr {
      float: left;
      margin-right: 4px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  margin-bottom: 2px;
  margin-top: 0;

  &:active {
    margin-bottom: 0;
    margin-top: 2px;
  }
}

.btn-read:focus {
  outline: none;
}

.btn-read-primary__inverse {
  background-color: #000;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  span {
    position: relative;
    margin-right: 15px;

    &:after {
      display: block;
      content: '';
      position: absolute;
      right: -14px;
      top: 4px;
      width: 10px;
      height: 17px;
      background: url("../images/themegovrnmnt-more_arrow-white.svg") left top no-repeat;
      background-size: 10px 17px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    background-color: #002266;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    span {
      margin-right: 0;
      margin-left: 15px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &:after {
        right: auto;
        left: -14px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }

  margin-bottom: 2px;
  margin-top: 0;

  &:active {
    margin-bottom: 0;
    margin-top: 2px;
  }
}

.btn-read {
  display: block;
  float: left;
  font-family: "roboto_condensedbold", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #990000;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  span {
    display: block;
    float: left;
    margin-right: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.btn-read__arr {
  display: block;
  float: left;
  visibility: visible;
  width: 8px;
  height: 11px;
  margin-top: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-read__arr-path {
  fill: #990000;
}

.btn-read {
  &.disabled {
    color: #bdbbac;

    .btn-read__arr-path {
      fill: #bdbbac;
    }
  }

  &:hover {
    text-decoration: none;
    color: #990000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    span {
      float: right;
      margin-right: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    .btn-read__arr {
      float: left;
      margin-right: 4px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

.btn-read-more {
  font-family: "roboto_condensedbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #990000;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-read-more__arr {
  opacity: 0;
  width: 12px;
  height: 20px;
  margin-bottom: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-read-more {
  &:hover {
    color: #990000;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .btn-read-more__arr {
      opacity: 1;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  &.disabled {
    color: #bdbbac;
  }
}

.label {
  border-radius: none;
}

.label-default {
  &[href] {
    &:focus, &:hover {
      background-color: #000;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  display: block;
  float: left;
  position: relative;
  z-index: 8;
  padding: 7px 10px;
  background-color: #002266;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.label-default__arr {
  display: block;
  position: absolute;
  right: -10px;
  top: 0px;
  height: 28px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  path {
    fill: #002266;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.label-default__arr-left {
  left: -7px;
  top: 0px;

  path {
    fill: #e9e8dc;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.label-default__arr-lefts {
  left: -7px;
}

.lbl-default__lns {
  display: block;
  float: left;
  width: 15px;
  height: 14px;

  > span {
    display: block;
    float: left;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.label-default {
  > span {
    display: block;
    float: left;
    margin-left: 10px;
    font-family: "roboto_condensedregular", Arial, sans-serif;
    font-size: 14px;
    line-height: 13px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
  }

  &.disabled {
    background-color: #bdbbac;

    .label-default__arr path {
      fill: #bdbbac;
    }

    &:after {
      border-left-color: #bdbbac;
    }

    > span {
      color: #e9e8dc;
    }
  }

  &:hover {
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .label-default__arr path {
      fill: #000;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

.label-time {
  display: block;
  float: left;
  position: relative;
  z-index: 7;
  padding: 7px 10px 8px 11px;
  margin-right: 15px;
  background-color: #e9e8dc;
  font-family: "roboto_condensedlight", Arial, sans-serif;
  font-size: 14px;
  line-height: 13px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);

  .label-time__arrow path {
    fill: #e9e8dc;
  }

  span {
    font-family: "roboto_condensedregular", Arial, sans-serif;
  }
}

.label-sm {
  padding: 5px 6px 6px;

  > span {
    font-family: "roboto_condensedlight", Arial, sans-serif;
    font-size: 10px;
    line-height: 10px;
  }

  &.label-default .label-default__arr {
    height: 21px;
    right: -12px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .lbl-default__lns {
    height: 10px;
    width: 12px;

    > span {
      margin-right: 2px;
    }
  }
}

.label-default.label-sm > span {
  margin-left: 5px;
}

.label-time-sm {
  font-size: 10px;
  line-height: 10px;
  padding: 5px 6px 6px;
  padding-left: 10px;
}

.news-item .label-time-sm {
  padding: 7px 6px 4px;
}

.label-time-sm {
  &.label-time .label-time__arrow {
    height: 21px;
  }

  .label-default__arr-left {
    height: 21px;
    left: -8px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .label-sm {
    padding: 6px 6px 5px;
  }

  .label-time-sm {
    font-size: 10px;
    line-height: 10px;
    padding: 6px 6px 5px;
  }

  .news-item .label-time-sm {
    padding: 7px 6px 4px;
  }
}

.label-time__nbg {
  background-color: transparent;

  &.label-time .label-default__arr {
    display: none;
  }
}

.btn {
  border: none;
  padding: 15px 45px;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 2px;
  margin-top: 0;

  &.active, &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-color: none;
  }

  &.active:focus, &:active:focus, &:focus {
    outline-color: none;
    outline: none;
  }

  &:active {
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.btn-lg, .btn-group-lg > .btn {
  padding: 25px 50px;
  font-family: "roboto_condensedbold", Arial, sans-serif;
  border-radius: 0;
  font-size: 30px !important;
  line-height: 30px !important;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

.btn-default {
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  font-family: "roboto_condensedregular", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &.disabled {
    border-color: #bdbbac;
    background-color: transparent;
    color: #c0beaf;

    &.active, &:active, &:focus, &:hover {
      border-color: #bdbbac;
      background-color: transparent;
      color: #c0beaf;
    }
  }

  &[disabled] {
    border-color: #bdbbac;
    background-color: transparent;
    color: #c0beaf;

    &.active, &:active, &:focus, &:hover {
      border-color: #bdbbac;
      background-color: transparent;
      color: #c0beaf;
    }
  }
}

fieldset[disabled] .btn-default {
  border-color: #bdbbac;
  background-color: transparent;
  color: #c0beaf;

  &.active, &:active, &:focus, &:hover {
    border-color: #bdbbac;
    background-color: transparent;
    color: #c0beaf;
  }
}

.btn-default {
  &.active, &:active, &:focus, &:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
    outline: none;
  }
}

.open > .btn-default.dropdown-toggle {
  background-color: #000;
  color: #fff;
  border-color: #000;
  outline: none;
}

.btn-default i {
  font-family: "roboto_condensedlight", Arial, sans-serif;
  font-style: normal;
}

.btn-support {
  display: block;
  position: relative;
  background-color: transparent;
  border: 2px solid #990000;
  color: #990000;
  font-family: "roboto_condensedbold", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.disabled {
    border-color: #bdbbac;
    background-color: transparent;
    color: #c0beaf;

    &.active, &:active, &:focus, &:hover {
      border-color: #bdbbac;
      background-color: transparent;
      color: #c0beaf;
    }
  }

  &[disabled] {
    border-color: #bdbbac;
    background-color: transparent;
    color: #c0beaf;

    &.active, &:active, &:focus, &:hover {
      border-color: #bdbbac;
      background-color: transparent;
      color: #c0beaf;
    }
  }
}

fieldset[disabled] .btn-support {
  border-color: #bdbbac;
  background-color: transparent;
  color: #c0beaf;

  &.active, &:active, &:focus, &:hover {
    border-color: #bdbbac;
    background-color: transparent;
    color: #c0beaf;
  }
}

.btn-support {
  &.active, &:active, &:focus, &:hover {
    background-color: #990000;
    border-color: #990000;
    color: #fff;
    outline: none;
  }
}

.open > .btn-support.dropdown-toggle {
  background-color: #990000;
  border-color: #990000;
  color: #fff;
  outline: none;
}

.btn-darkened {
  border: 2px solid rgba(255, 255, 255, 0.66);
  background-color: transparent;
  font-family: "roboto_condensedregular", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.66);
  text-transform: uppercase;

  &.disabled {
    border-color: rgba(255, 255, 255, 0.33);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.33);

    &.active, &:active, &:focus, &:hover {
      border-color: rgba(255, 255, 255, 0.33);
      background-color: transparent;
      color: rgba(255, 255, 255, 0.33);
    }
  }

  &[disabled] {
    border-color: rgba(255, 255, 255, 0.33);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.33);

    &.active, &:active, &:focus, &:hover {
      border-color: rgba(255, 255, 255, 0.33);
      background-color: transparent;
      color: rgba(255, 255, 255, 0.33);
    }
  }
}

fieldset[disabled] {
  .btn-darkened {
    border-color: rgba(255, 255, 255, 0.33);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.33);

    &.active, &:active, &:focus {
      border-color: rgba(255, 255, 255, 0.33);
      background-color: transparent;
      color: rgba(255, 255, 255, 0.33);
    }
  }

  .btn-darkenedr:hover {
    border-color: rgba(255, 255, 255, 0.33);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.33);
  }
}

.btn-darkened:hover {
  background-color: #fff;
  border-color: white;
  color: #000;
}

.arrow-lg-left, .arrow-lg-right {
  display: block;
  width: 41px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.arrow-lg-left, .arrow-lg-right {
  border: none;
  background-color: transparent;
  outline: none;
}

.arrow-lg-right__shad, .arrow-lg-left__shad, .arrow-lg-left__white, .arrow-lg-right__white {
  display: block;
  position: absolute;
  width: 31px;
  height: 150px;
}

.arrow-lg-left {
  .arrow-lg-left__white {
    z-index: 5;
    top: 0;
    left: 8px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    cursor: pointer;

    &:active {
      left: 4px;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
  }

  .arrow-lg-left__shad {
    z-index: 4;
    top: 0;
    left: 13px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:hover .arrow-lg-left__shad {
    height: 119px;
    top: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.arrow-lg-right {
  .arrow-lg-right__white {
    z-index: 5;
    top: 0;
    right: 8px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    cursor: pointer;
  }

  .arrow-lg-right__shad {
    z-index: 4;
    top: 0;
    right: 13px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:hover .arrow-lg-right__shad {
    height: 119px;
    top: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .arrow-lg-right__white:active {
    right: 4px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

.arrow-lg-left.disabled .arrow-lg-left__white, .arrow-lg-right.disabled .arrow-lg-right__white {
  visibility: hidden;
}

.arrow-lg-left.disabled .arrow-lg-left__shad, .arrow-lg-right.disabled .arrow-lg-right__shad {
  opacity: .5;
  top: 0;
  left: 0;
}

.arrow-sm-left {
  display: block;
  width: 46px;
  height: 100px;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 5;
    width: 36px;
    height: 100px;
    background: url("../images/themegovrnmnt-staff_arrow_White_left.svg") left top no-repeat;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 4;
    width: 36px;
    height: 100px;
    background: url("../images/themegovrnmnt-staff_arrow_Shadow_left.svg") left top no-repeat;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-size: contain;
  }
}

.arrow-sm-right {
  display: block;
  width: 46px;
  height: 100px;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 5;
    width: 36px;
    height: 100px;
    background: url("../images/themegovrnmnt-staff_arrow_White.svg") left top no-repeat;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 4;
    width: 36px;
    height: 100px;
    background: url("../images/themegovrnmnt-staff_arrow_Shadow.svg") left top no-repeat;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-size: contain;
  }
}

.arrow-sm-left.disabled:before, .arrow-sm-right.disabled:before {
  visibility: hidden;
  opacity: .5;
}

.arrow-sm-left:active:before {
  left: 5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.arrow-sm-right:active:before {
  right: 5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.main .slider {
  .slick-prev, .slick-next {
    display: block;
    position: absolute;
    z-index: 10;
  }
}

.stuff-slider {
  .slick-prev, .slick-next {
    display: block;
    position: absolute;
    z-index: 10;
  }
}

.project-stuff__slider {
  .slick-prev, .slick-next {
    display: block;
    position: absolute;
    z-index: 10;
  }
}

.main .slider .slick-prev:before, .stuff-slider .slick-prev:before, .project-stuff__slider .slick-prev:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  z-index: 5;
  background: url("../images/themegovrnmnt-staff_arrow_White_left.svg") left top no-repeat;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-size: contain;
}

.main .slider .slick-prev:after, .stuff-slider .slick-prev:after, .project-stuff__slider .slick-prev:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  z-index: 4;
  background: url("../images/themegovrnmnt-staff_arrow_Shadow_left.svg") left top no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-size: contain;
}

.main .slider .slick-next:before, .stuff-slider .slick-next:before, .project-stuff__slider .slick-next:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  z-index: 5;
  background: url("../images/themegovrnmnt-staff_arrow_White.svg") left top no-repeat;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-size: contain;
}

.main .slider .slick-next:after, .stuff-slider .slick-next:after, .project-stuff__slider .slick-next:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  z-index: 4;
  background: url("../images/themegovrnmnt-staff_arrow_Shadow.svg") left top no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-size: contain;
}

.event-partners__slider {
  .slick-prev, .slick-next {
    display: block;
    position: absolute;
    z-index: 10;
  }

  .slick-prev {
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      z-index: 5;
      background: url("../images/themegovrnmnt-staff_arrow_White_left.svg") left top no-repeat;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
      background-size: contain;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      z-index: 4;
      background: url("../images/themegovrnmnt-staff_arrow_Shadow_left.svg") left top no-repeat;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-size: contain;
    }
  }

  .slick-next {
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      z-index: 5;
      background: url("../images/themegovrnmnt-staff_arrow_White.svg") left top no-repeat;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
      background-size: contain;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      z-index: 4;
      background: url("../images/themegovrnmnt-staff_arrow_Shadow.svg") left top no-repeat;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-size: contain;
    }
  }
}

.top-navig {
  .slick-prev, .slick-next {
    display: block;
    position: absolute;
    z-index: 10;
  }

  .slick-prev {
    &:before {
      display: none;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      z-index: 4;
      background: url("../images/themegovrnmnt-staff_arrow_Shadow_left.svg") left top no-repeat;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-size: contain;
    }
  }

  .slick-next {
    &:before {
      display: none;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      z-index: 4;
      background: url("../images/themegovrnmnt-staff_arrow_Shadow.svg") left top no-repeat;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-size: contain;
    }
  }
}

ul.nav.nav-tabs {
  border-bottom: none;

  > li {
    width: 16.666%;

    > a {
      position: relative;
      z-index: 5;
      margin-bottom: 2px;
      margin-right: 1px;
      border: 0;
      padding: 10px 0;
      border-radius: 0;
      text-align: center;
      background-color: #bdbbac;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &.tablist__all {
      position: relative;
    }
  }
}

.tablist__all-arr path {
  fill: #002266;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.nav.nav-tabs > li {
  &.tablist__all > a {
    margin-right: 0;
    padding: 11px 0;
    background-color: #002266;

    > div {
      font-family: "roboto_condensedbold", Arial, sans-serif;
      font-size: 20px;
      line-height: 14px;
      color: #fff;
      margin-bottom: 2px;
    }
  }

  &.active {
    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: transparent;
      opacity: .3;

      > a {
        background-color: transparent;

        > {
          .tablist__title, .tablist__descr {
            color: #000;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
    }

    > a {
      background-color: transparent;
    }
  }

  &.disabled {
    > a.tablist__item:after {
      display: none;
    }

    > a {
      background-color: #bdbbac;
      color: #e9e8dc;

      > {
        .tablist__title, .tablist__descr {
          color: #e9e8dc;
        }
      }
    }
  }

  > a.tablist__item:after {
    display: none;
  }

  &.active {
    > a {
      background-color: transparent;
      border: 0;

      &:focus, &:hover {
        background-color: transparent;
        border: 0;
      }
    }

    > a:hover > {
      .tablist__title, .tablist__descr {
        color: #000;
      }
    }
  }

  > a:hover {
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    > {
      .tablist__title, .tablist__descr {
        color: #002266;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 4;
    opacity: 0;
    width: 36px;
    height: 15px;
    margin-left: -18px;
    // background: transparent url("../images/themegovrnmnt-event_arrow.svg") left top no-repeat;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &.active {
    &:before {
      opacity: 1;
      bottom: -14px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    > a:active {
      margin-top: 0;
      margin-bottom: 2px;
    }
  }

  > a:active {
    margin-top: 2px;
    margin-bottom: 0;
  }

  > a {
    &.active {
      &:active, &.disabled:active {
        border-top: 0;
      }
    }

    &.disabled:active {
      border-top: 0;
    }
  }
}

.tablist__title {
  display: block;
  font-family: "roboto_condensedbold", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
}

.tablist__descr {
  display: block;
  font-family: "roboto_condensedlight", Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #000;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  ul.nav.nav-tabs > li > a {
    padding: 15px 20px 12px 20px;
  }

  .tablist__title {
    display: block;
    font-family: "roboto_condensedbold", Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: #000;
    text-transform: uppercase;
  }

  .tablist__descr {
    display: block;
    font-family: "roboto_condensedlight", Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;
  }
}

.radio {
  margin-bottom: 17px;

  input[type=radio] {
    margin-left: 0;
  }
}

.radio-inline input[type=radio] {
  margin-left: 0;
}

.radio {
  label {
    position: relative;
    font-family: "pt_sansregular", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    padding-left: 35px;
  }

  &.disabled label {
    color: #bdbbac;
  }

  label:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    box-shadow: inset 1px 1px 0px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 20px;
  }
}

input[type=radio] {
  display: none;

  &:checked + label {
    &:after {
      content: "\2022";
      position: absolute;
      left: 4px;
      bottom: 1px;
      color: #000;
      font-size: 26px;
      line-height: 21px;
      text-align: center;
    }

    &:hover:after {
      opacity: 1;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  + label:hover:after {
    content: "\2022";
    position: absolute;
    left: 4px;
    bottom: 1px;
    color: #000;
    font-size: 26px;
    line-height: 21px;
    opacity: .6;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:disabled + label {
    &:before {
      background-color: #f4f3ed;
      opacity: .6;
    }

    &:after {
      opacity: .2;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

.checkbox {
  margin-bottom: 17px;

  input[type=checkbox] {
    margin-left: 0;
  }
}

.checkbox-inline input[type=checkbox] {
  margin-left: 0;
}

.checkbox {
  label {
    position: relative;
    font-family: "pt_sansregular", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    padding-left: 35px;
  }

  &.disabled label {
    color: #bdbbac;
  }

  label:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    box-shadow: inset 1px 1px 0px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
}

input[type=checkbox] {
  display: none;

  &:checked + label {
    &:after {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      left: 3px;
      bottom: 1px;
      background: url("../images/themegovrnmnt-checkBox.svg") left top no-repeat;
    }

    &:hover:after {
      opacity: 1;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  + label:hover:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    left: 3px;
    bottom: 1px;
    background: url("../images/themegovrnmnt-checkBox.svg") left top no-repeat;
    opacity: .6;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:disabled + label {
    &:before {
      background-color: #f4f3ed;
      opacity: .6;
    }

    &:after {
      opacity: .2;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

.form-group {
  margin-bottom: 30px;

  &.muted {
    opacity: .33;
  }

  &.disabled label.control-label {
    opacity: .4;
  }
}

.form-control {
  border-radius: 0;
  border-bottom: none;
  border-right: none;
  border-color: #bdbbac;
  color: #000;
  outline: none;

  &:focus {
    border-color: #bdbbac;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.form-group input {
  height: 50px;
  border-bottom: none;
  border-right: none;
  border-color: #bdbbac;
  font-family: "pt_sansregular", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding: 0 10px;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, input:-moz-placeholder {
  font-family: "roboto_condensedlight", Arial, sans-serif;
  text-transform: uppercase;
}

/* firefox 19+ */

/* ie */

textarea {
  &.form-control {
    padding: 16px 10px;
  }

  &:disabled {
    background-color: #f4f3ed;
    color: #d4d2c7;
    opacity: .6;
  }
}

input {
  &:not([type]):disabled, &[type="color"]:disabled, &[type="date"]:disabled, &[type="datetime"]:disabled, &[type="datetime-local"]:disabled, &[type="email"]:disabled, &[type="month"]:disabled, &[type="password"]:disabled, &[type="number"]:disabled, &[type="search"]:disabled, &[type="tel"]:disabled, &[type="text"]:disabled, &[type="time"]:disabled, &[type="url"]:disabled, &[type="week"]:disabled {
    background-color: #f4f3ed;
    color: #d4d2c7;
    opacity: .6;
  }
}

.form-group {
  label.control-label {
    font-family: "roboto_condensedlight", Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 20px;
    color: #999;
    margin-bottom: 10px;
  }

  &.has-error label.control-label {
    &.control-label-top {
      font-family: roboto_condensedlight, Arial, sans-serif;
      font-size: 20px;
      font-weight: lighter;
      line-height: 20px;
      color: #999;
      margin-top: 0;
      margin-bottom: 10px;
      margin-left: 0;
    }

    font-family: "roboto_condensedregular", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 21px;
    color: #990000;
    margin-top: 10px;
    margin-left: 14px;
    margin-bottom: 0;
  }
}

.has-error {
  input.form-control {
    border: 2px solid;
    border-color: #990000;
  }

  .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.form-validate .form-group.has-error label {
  margin-left: 0;
  color: #fff;
}

.bg-col {
  .form-validate .form-group.has-error label {
    margin-left: 0;
    color: #990000;
  }

  .suc-title {
    color: #000;
  }
}

.has-error textarea {
  border: 2px solid #900;
}

footer .form-group.has-error label.control-label {
  color: #fff;
  font-weight: normal;
}

.navbar-nav {
  .dropdown-menu {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .dropdown > .dropdown-menu {
    a, span {
      font-family: "roboto_condensedlight", Arial, sans-serif;
      text-transform: uppercase;
    }
  }
}

nav > .nav.navbar-nav > li > {
  a, span {
    position: relative;
  }

  a > i, span > i {
    position: absolute;
    top: 11px;
    right: 40px;
    height: 18px;
    font-family: "roboto_condensedbold", Arial, sans-serif;
    font-size: 18px;
    line-height: 14px;
    color: #bdbbac;
    font-style: normal;
  }
}

.dropdown-menu > li > a {
  &:focus, &:hover {
    background-color: transparent;
  }
}

.navbar-nav {
  padding: 0 15px;
  background-color: #990000;
  backface-visibility: hidden;
}

nav {
  > .nav.navbar-nav > li > a > i {
    height: 100%;
    width: 40px;
    top: 0;
    right: 0;
    line-height: 48px;
    text-align: right;
  }

  .dropdown-menu > .active > a {
    background-color: transparent;

    &:focus, &:hover {
      background-color: transparent;
    }
  }
}

.nav > li > a {
  &:focus, &:hover {
    background-color: transparent;
  }
}

.subview {
  li {
    display: none;
  }

  .subviewopen {
    display: block;
    border-bottom: none !important;

    > {
      a {
        display: none !important;
      }

      .dl-submenu {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #990000;

        > li {
          display: block;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          &:last-child {
            border-bottom: none;
          }

          > {
            a, span {
              display: block;
              position: relative;
              font-family: roboto_condensedlight, Arial, sans-serif;
              font-size: 14px;
              line-height: 14px;
              color: #fff;
              padding-top: 17px;
              padding-right: 31px;
              padding-bottom: 17px;
              text-align: right;
            }

            a > i, span > i {
              position: absolute;
              top: 11px;
              right: 0;
              height: 100%;
              width: 40px;
              top: 0;
              right: 0;
              font-family: "roboto_condensedbold", Arial, sans-serif;
              font-size: 18px;
              color: #bdbdac;
              line-height: 48px;
              text-align: right;
              font-style: normal;
            }
          }

          &.dt-back > a > i {
            text-align: left;
            line-height: 40px;
          }
        }
      }
    }

    &.active > span {
      display: none;
    }
  }

  li.subview {
    display: block;
    border-bottom: none !important;

    > a {
      display: none !important;
    }

    .dl-submenu {
      display: block;
      position: relative;
      background-color: #990000;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.dt-back i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

nav > .nav.navbar-nav > li.colors {
  li > {
    a > svg, span > svg {
      margin-right: 0;
      top: 17px;
    }
  }

  .dt-back > a {
    padding-right: 40px;
  }

  li > {
    a, span {
      padding-right: 40px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-nav {
    padding: 18px 75px;
  }

  nav > .nav.navbar-nav > li > a > i {
    line-height: 48px;
  }

  .subview .subviewopen > .dl-submenu > li > {
    a, span {
      padding-right: 32px;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .subview .subviewopen > .dl-submenu > li > {
    a, span {
      padding-right: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar-nav {
    background-color: transparent;
  }

  nav > .nav.navbar-nav > li {
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }

    &.dropdown:hover > {
      .dropdown-menu {
        display: block;
      }

      a {
        border-bottom: 2px solid #900;
        color: #e9e8dc;
      }
    }

    > a {
      border-bottom: 2px solid transparent;

      &:focus {
        background-color: #000;
      }

      > i {
        display: none;
      }
    }
  }

  .navbar-nav .dropdown {
    > .dropdown-menu {
      padding: 0 0 0 20px !important;
      background-color: #000;

      > li {
        &.active > span {
          display: block;
          position: relative;
          margin-right: 20px;
          padding: 20px 0;
          font-size: 14px;
          line-height: 1;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          color: #fff;
          white-space: nowrap;
          cursor: pointer;
        }

        > a {
          position: relative;
          margin-right: 20px;
          padding: 20px 0;
          font-size: 14px;
          line-height: 1;
          color: #bdbbac;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        &.dropdown-submenu > a {
          padding-right: 20px;
        }

        &:last-child > a {
          border-bottom: none;
        }

        i {
          position: absolute;
          top: 20px;
          right: 0;
          left: 170px;
          height: 18px;
          font-family: "roboto_condensedbold", Arial, sans-serif;
          font-size: 24px;
          line-height: 16px;
          font-style: normal;
        }

        a:hover {
          background-color: transparent;
        }

        &:hover > a {
          color: #fff;
        }
      }
    }

    &.open > a {
      color: #e9e8dc;
      background-color: #000;
      border-bottom: 2px solid #900;
    }
  }

  nav > .nav.navbar-nav > li.active > span {
    border-bottom: 2px solid #990000;
    color: #e9e8dc;
    background-color: #000;

    &:hover {
      border-bottom: 2px solid #990000;
      color: #e9e8dc;
      background-color: #000;
    }
  }

  .navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu:hover > a {
    color: #fff;
  }

  .dropdown-submenu {
    position: relative;

    > .dropdown-menu {
      top: -3px;
      right: auto;
      left: 100%;
      margin: 2px 0 0;
      padding: 0 20px;
      background-color: #000;

      > li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
          border-bottom: none;
        }

        > {
          a {
            padding: 21px 0;
            font-size: 14px;
            line-height: 1;
            color: #bdbbac;
          }

          span {
            display: block;
            padding: 20px 0;
            font-size: 14px;
            line-height: 1;
            color: #fff;
            white-space: nowrap;
            cursor: pointer;
          }

          a:hover {
            color: #fff;
          }
        }
      }
    }

    &:hover > .dropdown-menu {
      display: block;
    }
  }

  .dt-back {
    display: none;
  }

  nav > .nav.navbar-nav > li.colors li > {
    a > svg, span > svg {
      top: auto;
    }
  }

  .navbar-nav .dropdown > .dropdown-menu {
    &.dropdown-menu {
      right: auto;
      left: -20px;
    }

    &.dropdown-menu__right {
      right: -20px;
      left: auto;
      padding: 0 20px 0 0;

      > li > {
        a, span {
          margin-right: 0;
          margin-left: 20px;
          padding-left: 20px;
          padding-right: 20px;
          white-space: nowrap;
        }
      }

      li i {
        left: 0;
        right: auto;
        height: 18px;
        font-size: 18px;
        line-height: 10px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      > li.dropdown-submenu {
        > {
          a {
            padding-right: 0;
            padding-left: 20px;
          }

          .dropdown-menu {
            right: 100%;
            left: auto;
            margin-right: 0;
          }
        }

        &.active > {
          a {
            color: #fff;
            background-color: #000;
          }

          ul > li.active > span {
            color: #fff;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.bootstrap-select {
  &.btn-group {
    .dropdown-menu {
      min-width: 100%;
      z-index: 20;
      border-radius: 0;

      &.open {
        width: 100%;
        margin-bottom: 0;
        margin-top: 1px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &.inner {
        position: static;
        border: 0;
        padding: 0;
        margin: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    display: block;
    height: 50px;

    .dropdown-toggle.selectpicker {
      display: block;
      width: 100%;
      height: 50px;
      padding: 15px 13px;
      font-family: "pt_sansregular", Arial, sans-serif;
      font-size: 18px;
      background: #fff;
      color: #999999;
      border: 1px solid #bdbbac;
      border-bottom: 0;
      border-right: 0;
      margin-bottom: 0;
      text-transform: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      .caret {
        position: absolute;
        top: 16px;
        right: 15px;
        content: '';
        width: 11px;
        height: 18px;
        background: url("../images/themegovrnmnt-dropList.svg") left top no-repeat;
        border: 0;
        float: right;
      }
    }

    .dropdown-menu.dropdown-menu > li > a {
      padding: 16px 12px;
      font-family: "pt_sansregular", Arial, sans-serif;
      color: #000;
      font-size: 18px;
      line-height: 18px;

      &:focus, &:hover {
        background-color: #002266;
        color: #fff;
        cursor: pointer;
      }

      > .glyphicon {
        display: none;
      }
    }

    .dropdown-toggle.selectpicker {
      margin-bottom: 0;
      margin-top: 0;

      &:active {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  .dropdown-toggle .filter-option {
    padding-right: 30px;
  }

  &:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    min-width: 220px;
  }
}

.form-horizontal .control-label {
  padding-top: 15px;
  text-align: left;
}

.table > {
  thead > tr > td.info, tbody > tr > td.info, tfoot > tr > td.info, thead > tr > th.info, tbody > tr > th.info, tfoot > tr > th.info, thead > tr.info > td, tbody > tr.info > td, tfoot > tr.info > td, thead > tr.info > th, tbody > tr.info > th, tfoot > tr.info > th {
    background-color: #000b22;
  }
}

.thumbnail {
  border-radius: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.content__text {
  blockquote {
    display: block;
    position: relative;
    background-color: #e9e8dc;
    border-left: none;
    margin-left: -80px;
    padding: 30px 30px 30px 90px;

    &:before {
      display: block;
      position: absolute;
      top: 30px;
      left: 20px;
      width: 70px;
      height: 50px;
      background: url("../images/themegovrnmnt-quotes.svg") center no-repeat;
      background-size: contain;
    }

    p {
      font-family: "pt_sansitalic", Arial, sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #666666;
      margin-bottom: 15px;
    }

    footer {
      padding-top: 0px;
      font-family: "pt_sansbold", Arial, sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #000;
      background-color: transparent;
    }
  }

  .table-responsive {
    margin-left: 0px;
  }
}

.table {
  margin-bottom: 40px;

  > {
    thead {
      &:first-child > tr:first-child > th {
        border-top: 1px solid #e9e8dc;
      }

      > tr > th {
        font-family: "pt_sansbold", Arial, sans-serif;
        font-size: 20px;
        line-height: 22px;
        color: #000;
        vertical-align: top;
      }
    }

    tbody > tr > td, thead > tr > th {
      border-bottom: 1px solid #e9e8dc;
      padding: 30px 30px 15px 30px;
    }

    tbody > tr > td {
      &:first-child {
        padding-left: 0;
      }

      font-family: "pt_sansregular", Arial, sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #000;

      &.lead {
        font-family: "pt_sansbold", Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #000;
      }
    }
  }
}

.content__text .goverment-tooltip {
  text-decoration: none;
  border-bottom: 1px dashed;

  &:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
  }
}

.tooltip-inner {
  max-width: 300px;
  background-color: #e9e8dc;
  border-radius: 0;
  padding: 20px;
  font-family: "pt_sansregular", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  text-align: left;
}

.tooltip {
  &.in {
    opacity: 1;
  }

  &.top .tooltip-arrow {
    border: none;
    bottom: -9px;
    width: 36px;
    height: 15px;
    margin-left: -18px;
    background: url("../images/themegovrnmnt-event_arrow.svg") left top no-repeat;
  }
}

.pager {
  margin-top: 10px;
  margin-bottom: 0;
}

.pager-wrapper {
  text-align: center;
}

.pager {
  li > a {
    &:focus, &:hover {
      background-color: transparent;
    }
  }

  .disabled > a {
    background-color: transparent;
    color: #000;
    opacity: .2;

    &:focus, &:hover {
      background-color: transparent;
      color: #000;
      opacity: .2;
    }
  }

  li > a {
    position: relative;
    border-radius: 0;
    border: 2px solid #000;
    background-color: transparent;
  }

  .pager-m {
    display: block;
    font-family: "roboto_condensedregular", Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
  }

  .pager-y {
    display: block;
    font-family: "roboto_condensedlight", Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;
  }

  .previous a {
    margin-left: 15px;
    padding: 13px 20px 13px 35px;
    text-align: right;
    border-left: none;
  }

  .next a {
    margin-right: 15px;
    padding: 13px 35px 13px 20px;
    text-align: left;
    border-right: none;
  }
}

.pager-arr {
  display: block;
  position: absolute;
  top: -2px;
}

.pager {
  .previous .pager-arr {
    left: -15px;
  }

  .next .pager-arr {
    right: -15px;
  }
}

.slick-arrow {
  font-size: 0;
}
