<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Projects</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <base href="" />
  <meta name="viewport" content="width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <link rel="dns-prefetch" href="http://code.jquery.com" />
  <link rel="dns-prefetch" href="http://fonts.googleapis.com" />
  <link rel="dns-prefetch" href="http://www.google-analytics.com" />

</head>

<body id="body">
  <div>
    <%= require("fs").readFileSync("src/html/header.html") %>
    <div class="projects bg-col">
      <div class="container">
        <h1>Projects</h1>
        <article class="project-item">
          <a href="#" class="project-item__img-wrap">
            <img src="images/projects/project-1.jpg" alt="" class="project-item__img">
          </a>
          <div class="project-item__bt">
            <div class="blue-chart-diagramm project-item__diagramm">
              <div class="sm-diagramm">
                <canvas class="blue-chart" width="100" height="100" data-percent="67" data-size="80"></canvas>
              </div>
            </div>
            <h2><a href="#">Hеalth care plan most progressive nowdays</a></h2>
            <div class="prop-icons">
              <div class="prop-icons__item">
                <div class="prop-icons__item-left">
                  <i class="gic gic-coins"></i>
                </div>
                <div class="prop-icons__item-right">
                  <div class="prop-icons__item-hd">We have</div>
                  <div class="prop-icons__item-vl">$51 008</div>
                </div>
              </div>
              <div class="prop-icons__item">
                <div class="prop-icons__item-left">
                  <i class="gic gic-calendar"></i>
                </div>
                <div class="prop-icons__item-right">
                  <div class="prop-icons__item-hd">Days left</div>
                  <div class="prop-icons__item-vl">37</div>
                </div>
              </div>
              <div class="prop-icons__item">
                <div class="prop-icons__item-left">
                  <i class="gic gic-hand-stop"></i>
                </div>
                <div class="prop-icons__item-right">
                  <div class="prop-icons__item-hd">Support</div>
                  <div class="prop-icons__item-vl">24</div>
                </div>
              </div>
            </div>
            <p class="project-item__p">Millions of Americans now have the chance to buy quality, affordable care
              through
              the new health insurance marketplace millions of Americans now have the chance to buy quality,
              affordable
              care through the new health insurance marketplace</p>
            <a href="#" class="btn btn-support">Get more info about our health care plan</a>
          </div>
        </article>
        <hr class="line-ctr">
        <article class="project-item-ln">
          <div class="project-item-ln__shd-lft"></div>
          <div class="project-item-ln__shd-rt"></div>
          <div class="project-item-ln-wrap">
            <a href="#" class="project-item__img-wrap">
              <img src="images/projects/project-2.jpg" alt="" class="project-item__img">
            </a>
            <div class="project-item__bt">
              <div class="red-chart-diagramm project-item__diagramm">
                <div class="sm-diagramm">
                  <canvas class="red-chart" width="100" height="100" data-percent="97" data-size="80"></canvas>
                </div>
              </div>
              <h2><a href="#">Just $5 can provide a person with clean drinking water. person</a></h2>
              <div class="prop-icons">
                <div class="prop-icons__item">
                  <div class="prop-icons__item-left">
                    <i class="gic gic-calendar"></i>
                  </div>
                  <div class="prop-icons__item-right">
                    <div class="prop-icons__item-hd">Days left</div>
                    <div class="prop-icons__item-vl">37</div>
                  </div>
                </div>
                <div class="prop-icons__item">
                  <div class="prop-icons__item-left">
                    <i class="gic gic-hand-stop"></i>
                  </div>
                  <div class="prop-icons__item-right">
                    <div class="prop-icons__item-hd">Support</div>
                    <div class="prop-icons__item-vl">24</div>
                  </div>
                </div>
              </div>
              <p class="project-item__p">Millions of Americans now have the chance to buy quality, affordable
                care
                through the new health insurance marketplace millions of Americans now have the chance to
                buy quality,
                affordable care through the new health insurance marketplace</p>
              <a href="#" class="btn btn-support">Support just from $5</a>
            </div>
          </div>
        </article>
        <hr class="line-ctr">
        <article class="project-item project-item__ni">
          <a href="#" class="project-item__img-wrap project-item__no-img">
            <img src="images/themegovrnmnt-project_noFoto.svg" alt="">
          </a>
          <div class="project-item__bt">
            <div class="blue-chart-diagramm project-item__diagramm">
              <div class="sm-diagramm">
                <canvas class="blue-chart" width="100" height="100" data-percent="65" data-size="80"></canvas>
              </div>
            </div>
            <h2><a href="#">Hеalth care plan most progressive nowdays</a></h2>
            <p class="project-item__p">Millions of Americans now have the chance to buy quality, affordable care
              through
              the new health insurance marketplace millions of Americans now have the chance to buy quality,
              affordable
              care through the new health insurance marketplace</p>
            <a href="#" class="btn btn-support">Get more info about our health care plan</a>
          </div>
        </article>
        <hr class="line-ctr">
        <article class="project-item">
          <a href="#" class="project-item__img-wrap">
            <img src="images/projects/project-1.jpg" alt="" class="project-item__img">
          </a>
          <div class="project-item__bt">
            <div class="blue-chart-diagramm project-item__diagramm">
              <div class="sm-diagramm">
                <canvas class="blue-chart" width="100" height="100" data-percent="61" data-size="80"></canvas>
              </div>
            </div>
            <h2><a href="#">Hеalth care plan most progressive nowdays</a></h2>
            <div class="prop-icons">
              <div class="prop-icons__item">
                <div class="prop-icons__item-left">
                  <i class="gic gic-coins"></i>
                </div>
                <div class="prop-icons__item-right">
                  <div class="prop-icons__item-hd">We have</div>
                  <div class="prop-icons__item-vl">$51 008</div>
                </div>
              </div>
              <div class="prop-icons__item">
                <div class="prop-icons__item-left">
                  <i class="gic gic-calendar"></i>
                </div>
                <div class="prop-icons__item-right">
                  <div class="prop-icons__item-hd">Days left</div>
                  <div class="prop-icons__item-vl">37</div>
                </div>
              </div>
              <div class="prop-icons__item">
                <div class="prop-icons__item-left">
                  <i class="gic gic-hand-stop"></i>
                </div>
                <div class="prop-icons__item-right">
                  <div class="prop-icons__item-hd">Support</div>
                  <div class="prop-icons__item-vl">24</div>
                </div>
              </div>
            </div>
            <p class="project-item__p">Millions of Americans now have the chance to buy quality, affordable care
              through
              the new health insurance marketplace millions of Americans now have the chance to buy quality,
              affordable
              care through the new health insurance marketplace</p>
            <a href="#" class="btn btn-support">Get more info about our health care plan</a>
          </div>
        </article>
        <hr class="line-ctr">
        <article class="project-item-ln">
          <div class="project-item-ln__shd-lft"></div>
          <div class="project-item-ln__shd-rt"></div>
          <div class="project-item-ln-wrap">
            <a href="#" class="project-item__img-wrap">
              <img src="images/projects/project-2.jpg" alt="" class="project-item__img">
            </a>
            <div class="project-item__bt">
              <div class="red-chart-diagramm project-item__diagramm">
                <div class="sm-diagramm">
                  <canvas class="red-chart" width="100" height="100" data-percent="92" data-size="80"></canvas>
                </div>
              </div>
              <h2><a href="#">Just $5 can provide a person with clean drinking water. person</a></h2>
              <div class="prop-icons">
                <div class="prop-icons__item">
                  <div class="prop-icons__item-left">
                    <i class="gic gic-calendar"></i>
                  </div>
                  <div class="prop-icons__item-right">
                    <div class="prop-icons__item-hd">Days left</div>
                    <div class="prop-icons__item-vl">37</div>
                  </div>
                </div>
                <div class="prop-icons__item">
                  <div class="prop-icons__item-left">
                    <i class="gic gic-hand-stop"></i>
                  </div>
                  <div class="prop-icons__item-right">
                    <div class="prop-icons__item-hd">Support</div>
                    <div class="prop-icons__item-vl">24</div>
                  </div>
                </div>
              </div>
              <p class="project-item__p">Millions of Americans now have the chance to buy quality, affordable
                care
                through the new health insurance marketplace millions of Americans now have the chance to
                buy quality,
                affordable care through the new health insurance marketplace</p>
              <a href="#" class="btn btn-support">Support just from $5</a>
            </div>
          </div>
        </article>
        <hr class="line-ctr">
        <article class="project-item project-item__ni">
          <a href="#" class="project-item__img-wrap project-item__no-img">
            <img src="images/themegovrnmnt-project_noFoto.svg" alt="">
          </a>
          <div class="project-item__bt">
            <div class="blue-chart-diagramm project-item__diagramm">
              <div class="sm-diagramm">
                <canvas class="blue-chart" width="100" height="100" data-percent="65" data-size="80"></canvas>
              </div>
            </div>
            <h2><a href="#">Hеalth care plan most progressive nowdays</a></h2>
            <p class="project-item__p">Millions of Americans now have the chance to buy quality, affordable care
              through
              the new health insurance marketplace millions of Americans now have the chance to buy quality,
              affordable
              care through the new health insurance marketplace</p>
            <a href="#" class="btn btn-support">Get more info about our health care plan</a>
          </div>
        </article>
        <hr class="line-ctr">
        <div class="row more d-block mx-auto">
          <a href="#" class="btn btn-default tw-item__follow">More projects</a>
        </div>
      </div>
    </div>
    <%= require("fs").readFileSync("src/html/footer.html") %>
  </div>
</body>

</html>