<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Stuff</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <base href=""/>
  <meta name="viewport" content="width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content=""/>
  <link rel="dns-prefetch" href="http://code.jquery.com"/>
  <link rel="dns-prefetch" href="http://fonts.googleapis.com"/>
  <link rel="dns-prefetch" href="http://www.google-analytics.com"/>

</head>

<body id="body">
<div>
  <%= require("fs").readFileSync("src/html/header.html") %>
  <div id="stuffPage" class="stuff bg-col">
    <div class="container">
      <h1 id="heading-stuff">Stuff</h1>
      <section class="section-details">
        <h2 class="coll-hdr br-t"><b>Administration</b></h2>
        <div class="row section-details__thn">
          <div class="col-12">
            <hr class="first">
          </div>
        </div>
        <div class="row stuff__items section-details__thn">
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Rita Komsomolina</h3>
              <h5 class="stuff__item-descr">Account Manager</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">Rita.Komsomolina@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">rita.komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/komsomolina</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">PeteR Tong</h3>
              <h5 class="stuff__item-descr">Director</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">tong@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">peter.tong</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/tong</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/tong</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager3.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">John Black</h3>
              <h5 class="stuff__item-descr">Ambassador</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">johnblack@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">john.black</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/johnblack</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/johnblack</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfi d-none d-sm-block"></div>
          <div class="clearfix d-none d-md-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Nina Belousova</h3>
              <h5 class="stuff__item-descr">Medic</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">ninabelousova@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">nina.belousova</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/belousova</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/belousova</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager3.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">John Black</h3>
              <h5 class="stuff__item-descr">Ambassador</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">johnblack@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">john.black</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/johnblack</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/johnblack</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfix d-none d-lg-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Nina Belousova</h3>
              <h5 class="stuff__item-descr">Medic</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">ninabelousova@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">nina.belousova</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/belousova</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/belousova</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfi d-none d-sm-block"></div>
          <div class="clearfix d-none d-md-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Rita Komsomolina</h3>
              <h5 class="stuff__item-descr">Account Manager</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">Rita.Komsomolina@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">rita.komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/komsomolina</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">PeteR Tong</h3>
              <h5 class="stuff__item-descr">Director</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">tong@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">peter.tong</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/tong</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/tong</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Rita Komsomolina</h3>
              <h5 class="stuff__item-descr">Account Manager</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">Rita.Komsomolina@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">rita.komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/komsomolina</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfi d-none d-sm-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">PeteR Tong</h3>
              <h5 class="stuff__item-descr">Director</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">tong@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">peter.tong</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/tong</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/tong</a>
                </div>
              </div>
              <div class="stuff__item-act-txt">
                <hr>
                <p>Inspired by the octopus, we’re on the road to creating materials that render things
                  almost
                  invisible. Yet as Philip Ball points out, the history of camouflage and our limited
                  understanding of
                  how creatures hide in nature may make the task trickier than it seems.</p>
                <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic
                  State (IS)
                  jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the
                  Syrian border town.
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="clearfix d-none d-lg-block"></div>
          <div class="clearfix d-none d-sm-block"></div>
        </div>
      </section>
      <section class="section-details">
        <h2 class="coll-hdr br-t"><b>Creators</b></h2>
        <div class="row section-details__thn">
          <div class="col-12">
            <hr class="first">
          </div>
        </div>
        <div class="row stuff__items section-details__thn">
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Rita Komsomolina</h3>
              <h5 class="stuff__item-descr">Account Manager</h5>
            </a>
            <div class="stuff__item-act-hd">
              <div class="project-stuff__quote-soc">
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-envelope-o"></i>
                  <a href="#" class="project-stuff__quote-link">Rita.Komsomolina@mail.com</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-skype"></i>
                  <a href="#" class="project-stuff__quote-link">rita.komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-facebook"></i>
                  <a href="#" class="project-stuff__quote-link">facebook.com/komsomolina</a>
                </div>
                <div class="project-stuff__quote-ln">
                  <i class="fa fa-twitter"></i>
                  <a href="#" class="project-stuff__quote-link">twitter.com/komsomolina</a>
                </div>
              </div>
            </div>
          </div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">PeteR Tong</h3>
              <h5 class="stuff__item-descr">Director</h5>
            </a>
          </div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager3.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">John Black</h3>
              <h5 class="stuff__item-descr">Ambassador</h5>
            </a>
          </div>
          <div class="clearfi d-none d-sm-block"></div>
          <div class="clearfix d-none d-md-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Nina Belousova</h3>
              <h5 class="stuff__item-descr">Medic</h5>
            </a>
          </div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager3.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">John Black</h3>
              <h5 class="stuff__item-descr">Ambassador</h5>
            </a>
          </div>
          <div class="clearfix d-none d-lg-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Nina Belousova</h3>
              <h5 class="stuff__item-descr">Medic</h5>
            </a>
          </div>
          <div class="clearfi d-none d-sm-block"></div>
          <div class="clearfix d-none d-md-block"></div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="stuff__item-wrap col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="stuff__item stuff__item-act">
              <img src="images/stuff/manager4.jpg" alt="" class="stuff__item-img img-circle">
              <h3 class="stuff__item-ttl">Rita Komsomolina</h3>
              <h5 class="stuff__item-descr">Account Manager</h5>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <%= require("fs").readFileSync("src/html/footer.html") %>
</div>
</body>

</html>